header.shadow {
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 30px rgba(233, 61, 61, 0.6) !important;
  z-index: 2;
}

.active{

    color: #DC3545 !important;
    box-shadow: 0 0 15px rgba(255, 99, 71, 0.8); 
    border-radius: 10px;
}

h1 a {
  text-decoration: none;
}
.container-opacity {
  background-color: rgba(0, 0, 0, 0.55);
  max-width: 80%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h5 {
  max-width: 80%;
}
.custom-input {
  max-width: 50%;
  /* height: 35px; */
  font-size: 14px;
}
/* h5{
  text-transform: capitalize;
} */

div.sticky {
  position: sticky;
  top: 0;
}

/* ! tar css */
span.gold {
  color: gold;
}
span.silver {
  color: rgb(242, 212, 212);
}

/*! retro card */

.card-container {
  position: relative;
}

.empty-card {
  width: 100%;
  /* max-height: 98%; */

  /* min-height: 514px; */
  display: none;
  background-color: #343a40;

  
}

.card-container:hover .full-card {
  display: none;
}

.card-container:hover .empty-card {
  display: block;
  
}
h6 {
  margin-top: 1em;
  font-size: 0.7rem;
}
.trama {
  margin-top: 1em;
  /* max-height:0.5em;  */
  /* overflow-y: auto;  */
  /* max-width: 100%; */
  /* max-height:15%; */
  /* width: 300px;  */
  max-height: 11em;
  overflow: auto;
  padding: 10px;
  margin-bottom: 1em;
}
/* .flag{
  width: 24px;
} */
.empty-card h5 {
  color: #c52929;
}
