.container-opacity {
  background-color: rgba(0, 0, 0, 0.55);
  max-width: 80%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-input {
  max-width: 30%;
  /* height: 35px; */
  font-size: 14px;
}
/* h5{
  text-transform: capitalize;
} */
div.sticky {
  position: sticky;
  top: 0;
}
span.gold{

  color: gold;

}
span.silver{

  color: rgb(242, 212, 212);

}
